@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0b0f19; /* azure-bg */
  color: #e2e8f0;
}
